@tailwind base;
@tailwind components;
@tailwind utilities;

html,
      body
      /* body > div:first-child */
      /* div#__next,
      div#__next > div  */
      
      {
        height: 100%;
      }


.flexible-card .ant-card-body {
    flex-grow: 1;
    padding: 5px; /* Or any other value */

}


.ant-card-head-title {
  text-overflow: unset !important;
  white-space: unset !important;
}

.carousel-img
{
    width: 100%!important;
    height:400px!important;
    object-fit: cover;

}

.ant-layout-header 
{
  padding: 0px;
  height: 128px;
}


.responsive-button {
  white-space: normal; /* Allow the text to move to the next line */
  text-align: center;  /* Keep the text centered */
  height: auto

}

.logo-img
{
    height:128px!important;
    object-fit: cover;

}


.header-style
{
  background-color:  #00203FFF;
}

.background-style
{
  background-color:  #00203FFF;
  color: white;
}

.ant-menu-item-selected {
  background-color:  #00203FFF !important;
}
