@tailwind base;
@tailwind components;
@tailwind utilities;

html,
      body
      /* body > div:first-child */
      /* div#__next,
      div#__next > div  */
      
      {
        height: 100%;
      }



.custom-tag
{

  background-color:   #99a3ff

}

.ant-menu-item-selected {
  background-color: #291F68 !important;
}