@tailwind base;
@tailwind components;
@tailwind utilities;

html,
      body
      /* body > div:first-child */
      /* div#__next,
      div#__next > div  */
      
      {
        height: 100%;
      }


.flexible-card .ant-card-body {
    flex-grow: 1;
    padding: 5px; /* Or any other value */

}


.ant-card-head-title {
  text-overflow: unset !important;
  white-space: unset !important;
}
.ant-menu-item-selected {
  background-color: #291F68 !important;
}
